<body class="app sidebar-mini rtl">
    <app-header-admin></app-header-admin>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <app-sidebar></app-sidebar>

  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">List of RoomVouchers</li>
        <li class="breadcrumb-item"><a href="#">Add new RoomVouchers</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="tile">

          <h3 class="tile-title">Create a RoomVouchers</h3>
          <div class="tile-body">
            <form class="row">
              <div class="form-group col-md-4">
                <label class="control-label">RoomVouchers ID</label>
                <input class="form-control" type="text">
              </div>


              <div class="form-group col-md-12">
                <div class="form-group col-md-4">
                  <label class="control-label">Customer phone</label>
                  <input class="form-control" type="text">
                </div>
                <div class="form-group col-md-4">
                  <button class="form-group col-md-4" type="submit" (click)="checkCus()">Save</button>
                </div>
                <div class="form-group col-md-12" *ngIf="this.checkNewCus">
                  <h3 class="tile-title">Create new customer</h3>
                  <div class="form-group col-md-4">
                    <label class="control-label">ID card</label>
                    <input class="form-control" type="text" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="control-label">Permanent address</label>
                    <input class="form-control" type="text" required>
                  </div>
                  <div class="form-group  col-md-4">
                    <label class="control-label">Phone</label>
                    <input class="form-control" type="number" required>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="control-label">Date of birth</label>
                    <input class="form-control" type="date">
                  </div>
                  <div class="form-group col-md-4">
                    <label class="control-label">Sex</label>
                    <select class="form-control" id="exampleSelect2" required>
                      <option>-- Choose your gender --</option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label class="control-label">Staff</label>
                <select class="form-control" id="exampleSelect2" required>
                  <option>-- Choose your staff --</option>
                  <option>Male</option>
                </select>
                <!-- <select class="form-control" id="exampleSelect1" formControlName="nameKindRoom">
                  <option *ngFor="let item of data" [value]="item">{{item.nameKindRoom}}</option>
                </select> -->
              </div>

              <div class="form-group col-md-4">
                <label class="control-label">Room</label>
                <select class="form-control" id="exampleSelect2" formControlName="status" >
                  <option>-- Choose your room --</option>
                  <option *ngFor="let item of dataRoom" value="{{item.idRoom}}">{{item.idRoom}}</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label class="control-label">BookingDate</label>
                <input class="form-control" type="date" required>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">PayDay</label>
                <input class="form-control" type="date" required>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Adults</label>
                <input class="form-control" type="number" required>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Children</label>
                <input class="form-control" type="number" required>
              </div>



              <!-- <div class="form-group  col-md-3">
                <label for="exampleSelect1" class="control-label">Position</label>
                <select class="form-control" id="exampleSelect1">
                  <option>Receptionist</option>
                  <option>Reservation </option>
                  <option>Cashier</option>
                  <option>Bell man</option>
                  <option>Housekeeping</option>
                  <option>Locker Attendant</option>
                  <option>Public Area cleaner</option>
                  <option>Door man </option>
                </select>
              </div> -->

              <!-- <div class="form-group col-md-12">
                <label class="control-label">Ảnh 3x4 nhân viên</label>
                <div id="myfileupload">
                  <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this)"  />
                </div>
                <div id="thumbbox">
                  <img height="300" width="300" alt="Thumb image" id="thumbimage" style="display: none" />
                  <a class="removeimg" href="javascript:"></a>
                </div>
                <div id="boxchoice">
                  <a href="javascript:" class="Choicefile"><i class='bx bx-upload'></i></a>
                  <p style="clear:both"></p>
                </div>

              </div> -->
          <!-- </div> -->
          <button class="btn btn-save" type="button">Save</button>
          <a class="btn btn-cancel" href="/doc/table-data-table.html">Cancel</a>
          </form>
        </div>
      </div>
    </div>
    </div>
  </main>

  <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="row">
            <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Create a new positionới</h5>
              </span>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Enter a new job title</label>
              <input class="form-control" type="text" required>
            </div>
          </div>
          <BR>
          <button class="btn btn-save" type="button">Save</button>
          <a class="btn btn-cancel" data-dismiss="modal" href="#">Cancel</a>
          <BR>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div> -->


</body>

