<app-nbar></app-nbar>
<div _ngcontent-iss-c109="" class="site-section bg-light">
  <div _ngcontent-iss-c109="" class="container">
    <div _ngcontent-iss-c109="" class="row">
      <div _ngcontent-iss-c109="" class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 _ngcontent-iss-c109="" class="mb-5">RoomsDetail</h2>
      </div>
    </div>
  </div>
  <div class="owl-item cloned" style="width: 1519.2px;">
    <div class="container">
      <!-- RoomDetails -->
      <div id="RoomDetails" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <img src="assets/images/img_1.jpg" class="img-responsive" alt="slide">
          </div>
          <div class="item  height-full">
            <img src="assets/images/img_2.jpg"  class="img-responsive" alt="slide">
          </div>
          <div class="item  height-full">
            <img src="assets/images/img_3.jpg"  class="img-responsive" alt="slide">
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#RoomDetails" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right carousel-control" href="#RoomDetails" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
        <!-- RoomCarousel-->
      <div class="room-features spacer">
        <div class="row">
          <!-- <div class="col-sm-12 col-md-5">
            <p>Space in your house How to sell faster than your neighbors How to make a strategic use. To discourage you by telling. To discourage you by telling. I m going to outline 14 different ways that I ve found you. The real goal of any talk or speech. The real goal of any talk or speech. I m going to outline 14 different ways that I ve found you. The real goal of any talk or speech. I m going to outline 14 different ways that I ve found you. The real goal of any talk or speech. To discourage you by telling. To discourage you by telling. Space in your house How to sell faster than your neighbors How to make a strategic use. The real goal of any talk or speech.</p>
            <p>By Learning Ways To Become Peaceful. One of the greatest barriers to making the sale is your prospect's natural. Don't stubbornly. Don't stubbornly. Don't stubbornly. -And Gain Power By Learning Ways To Become Peaceful. </p>
          </div> -->
          <div class="col-sm-6 col-md-3 amenitites">
            <h3>Amenitites</h3>
            <ul>
              <li>One of the greatest barriers to making the sale is your prospect.</li>
              <li>Principle to work to make more money while having more fun.</li>
              <li>Unlucky people. Don't stubbornly.</li>
              <li>Principle to work to make more money while having more fun.</li>
              <li>Space in your house How to sell faster than your neighbors</li>
            </ul>
          </div>
          <div class="col-sm-3 col-md-2">
            <div class="size-price">Size<span>5x5</span></div>
          </div>
          <div class="col-sm-3 col-md-2">
            <div class="size-price">Price<span>$200.00</span></div>
          </div>
          <div class="col-sm-3 col-md-2">
          <div class="elem-group">
            <label for="room-selection">Room available</label>
            <select id="room-selection" name="room_preference" required>
                <!-- <option value="">Choose a Room from the List</option> -->
                <option value="connecting">100</option>
                <option value="adjoining">101</option>
                <option value="adjacent">201</option>
                <option value="adjacent">210</option>
                <option value="adjacent">203</option>
                <!-- <option value="adjacent">Phòng đơn</option> -->
            </select>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-foother></app-foother>
