<body class="app sidebar-mini rtl  pace-done">
  <!-- <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div> -->
<app-header-admin></app-header-admin>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<app-sidebar></app-sidebar>
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active" ><a href=""><b >List of staff</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row element-button">
            <div class="col-sm-2">
              <a class="btn btn-add btn-sm" (click)="navigate('/add-staff')" style="font-size:13px ;" title="Thêm"><i class="fas fa-plus"></i>
                Create a new staff</a>
            </div>
          </div>
          <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
            id="sampleTable">
            <thead>
              <tr>
                <th width="10">
                  <input type="checkbox" id="all" onclick="checkbox()"></th>
                <th>Staff ID</th>
                <th width="150">Name</th>
                <!-- <th width="300">Address</th> -->
                <th>Address</th>
                <th>Sex</th>
                <th>SĐT</th>
                <th>Position</th>
                <th>Status</th>
                <th width="100">Feature</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of data">
                <td width="10">
                <input type="checkbox" name="check1" value="1"></td>
                <td>{{item.idStaff}}</td>
                <td>{{item.nameStaff}}</td>
                <td>155-157 Trần Quốc Thảo, Quận 3, Hồ Chí Minh </td>
                <!-- <td>12/02/1999</td> -->
                <td>{{item.sexStaff}}</td>
                <td>{{item.phoneStaff}}</td>
                <td>{{item.position}}</td>
                <td>{{item.status}}</td>
                <td class="table-td-center">
                  <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                    onclick="myFunction(this)"><i class="fas fa-trash-alt"></i>
                  </button>
                  <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                  (click)="navigate('/edit-staff')"><i class="fas fa-edit"></i>
                  </button>
                </td>
              </tr>
              <!-- <tr>
                <td width="10">
                  <input type="checkbox" name="check2" value="2"></td>
                <td>#SX22837</td>
                <td>Trần Khả Ái</td>
                <td>6 Nguyễn Lương Bằng, Tân Phú, Quận 7, Hồ Chí Minh</td>
                <td>22/12/1999</td>
                <td>Nữ</td>
                <td>0931342432</td>
                <td>Receptionist</td>
                <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                    onclick="myFunction(this)"><i class="fas fa-trash-alt"></i>
                  </button>
                  <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                  (click)="navigate('/edit-staff')"><i class="fas fa-edit"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td width="10"><input type="checkbox" name="check3" value="3"></td>
                <td>#LO2871</td>
                <td>Phạm Thu Cúc</td>
                <td>Số 3 Hòa Bình, Phường 3, Quận 11, Hồ Chí Minh </td>
                <td>02/06/1998</td>
                <td>Nữ</td>
                <td>0931491997</td>
                <td>Clean the room</td>
                <td>
                  <button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onclick="myFunction()"><i
                      class="fas fa-trash-alt"></i>
                  </button>
                  <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                  (click)="navigate('/edit-staff')"><i class="fas fa-edit"></i>
                  </button>
                </td>
              </tr> -->
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
  
          <div class="modal-body">
            <div class="row">
              <div class="form-group  col-md-12">
                <span class="thong-tin-thanh-toan">
                  <h5>Edit basic employee information</h5>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">Staff ID</label>
                <input class="form-control" type="text" required="" value="#CD2187" disabled="">
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">First and last name</label>
                <input class="form-control" type="text" required="" value="Võ Trường">
              </div>
              <div class="form-group  col-md-6">
                <label class="control-label">SĐT</label>
                <input class="form-control" type="number" required="" value="09267312388">
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">Email</label>
                <input class="form-control" type="text" required="" value="truong.vd2000@gmail.com">
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">Date of birth</label>
                <input class="form-control" type="date" value="15/03/2000">
              </div>
              <div class="form-group  col-md-6">
                <label for="exampleSelect1" class="control-label">Position</label>
                <select class="form-control" id="exampleSelect1">
                  <option>Receptionist</option>
                  <option>Reservation </option>
                  <option>Cashier</option>
                  <option>Bell man</option>
                  <option>Housekeeping</option>
                  <option>Locker Attendant</option>
                  <option>Public Area cleaner</option>
                  <option>Door man </option>
                </select>
              </div>
            </div>
            <br>
            <a href="#" style="    float: right;
          font-weight: 600;
          color: #ea0000;">Advanced Editing</a>
            <br>
            <br>
            <button class="btn btn-save" type="button">Save</button>
            <a class="btn btn-cancel" data-dismiss="modal" href="#">Cancel</a>
            <br>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
</div> -->

  </body>
