<body class="app sidebar-mini rtl">
    <app-header-admin></app-header-admin>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <app-sidebar></app-sidebar>
  
  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">List of Room</li>
        <li class="breadcrumb-item"><a href="#">Add new Kind of Room</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
  
        <div class="tile">
  
          <h3 class="tile-title">Create Kind of Room</h3>
          <div class="tile-body">
            <form class="row" [formGroup]="addform" (submit)="add()">
              <div class="form-group col-md-4">
                <label class="control-label">ID KindRoom </label>
                <input class="form-control" type="text" formControlName="idKindRoom">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Name KindRoom </label>
                <input class="form-control" type="text" formControlName="nameKindRoom">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Image</label>
                <input class="form-control" type="text" required formControlName="image">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Maximum number of guests</label>
                <input class="form-control" type="number" required formControlName="cusMax">
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Price</label>
                <input class="form-control" type="number" required formControlName="priceRoom">
              </div>
              <!-- <div class="form-group col-md-4">
                <label class="control-label">Room</label>
                <input class="form-control" type="text" required>
              </div> -->
            
          <button class="btn btn-save" type="submit" style="font-size: 24px;width: 300px;margin-top: 2%;margin-left: auto;margin-right: auto;">Save</button>
          <a class="btn btn-cancel" href="/kindroom" style="font-size: 24px;width: 300px;margin-top: 2%;margin-left: auto;margin-right: auto;">Cancel</a>
          </form>
        </div>
      </div>
    </div>
    </div>
  </main>
  
  
  </body>

