<app-nbar></app-nbar>
<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <h2 class="mb-5">Rooms</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a [routerLink]="['/roomdetail']">Normal room</a></h3>
            <strong class="price">$350.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a [routerLink]="['/roomdetail']">Family's room</a></h3>
            <strong class="price">$400.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_3.jpg" alt="Image" class="img-fluid"></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a [routerLink]="['/roomdetail']">Single room</a></h3>
            <strong class="price">$255.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a [routerLink]="['/roomdetail']">Double room</a></h3>
            <strong class="price">$150.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a [routerLink]="['/roomdetail']">Deluxe Room</a></h3>
            <strong class="price">$200.00 / per night</strong>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="hotel-room text-center">
          <a href="#" class="d-block mb-0 thumbnail"><img src="assets/images/img_3.jpg" alt="Image" class="img-fluid"></a>
          <div class="hotel-room-body">
            <h3 class="heading mb-0"><a [routerLink]="['/roomdetail']">Single room</a></h3>
            <strong class="price">$155.00 / per night</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <div class="site-block-27">
          <ul>
            <li><a [routerLink]="['/rooms']">&lt;</a></li>
            <li class="active" [routerLink]="['/rooms']"><span>1</span></li>
            <li><a [routerLink]="['/rooms']">2</a></li>
            <li><a [routerLink]="['/rooms']">3</a></li>
            <li><a [routerLink]="['/rooms']">4</a></li>
            <li><a [routerLink]="['/rooms']">5</a></li>
            <li><a [routerLink]="['/rooms']">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-foother></app-foother>

