<body class="app sidebar-mini rtl">
  <app-header-admin></app-header-admin>
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <app-sidebar></app-sidebar>

<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">List of service</li>
      <li class="breadcrumb-item"><a href="#">Add service</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="tile">

        <h3 class="tile-title">Create service</h3>
        <div class="tile-body">
          <form class="row" [formGroup]="addform" (submit)="add()">
            <div class="form-group col-md-4">
              <label class="control-label">Service ID</label>
              <input class="form-control" type="text" formControlName="idService">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Service name</label>
              <input class="form-control" type="text" required formControlName="nameService">
            </div>
            <!-- <div class="form-group col-md-4">
              <label class="control-label">Unit</label>
              <input class="form-control" type="text" required>
            </div> -->
            <div class="form-group col-md-4">
              <label class="control-label">Service prices</label>
              <input class="form-control" type="number" required formControlName="priceService">
            </div>
          
        <button class="btn btn-save" type="submit" style="font-size: 24px;width: 300px;margin-top: 2%;margin-left: auto;margin-right: auto;">Save</button>
        <a class="btn btn-cancel" href="/service-hotel" style="font-size: 24px;width: 300px;margin-top: 2%;margin-left: auto;margin-right: auto;">Cancel</a>
        </form>
      </div>
    </div>
  </div>
  </div>
</main>


</body>
