<body onload="time()" class="app sidebar-mini rtl  pace-done">
  <!-- <div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div>
</div> -->
  <!-- Navbar-->
  <app-header-admin></app-header-admin>
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <app-sidebar></app-sidebar>
  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>List of customers
            </b></a></li>
      </ul>
      <div id="clock"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <div class="row element-button">
              <div class="col-sm-2">
                <a class="btn btn-add btn-sm" (click)="navigate('/add-customer')" style="font-size:13px ;" title="Thêm"><i class="fas fa-plus"></i>
                  Add new customer</a>
              </div>
              <!-- <div class="col-sm-2">
                  <a class="btn btn-delete btn-sm nhap-tu-file" type="button" title="Nhập" onclick="myFunction(this)"><i class="fas fa-file-upload"></i> Tải từ file</a>
                </div>

                <div class="col-sm-2">
                  <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i class="fas fa-print"></i> In dữ liệu</a>
                </div>
                <div class="col-sm-2">
                  <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép"><i class="fas fa-copy"></i> Sao chép</a>
                </div>

                <div class="col-sm-2">
                  <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
                </div>
                <div class="col-sm-2">
                  <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)"><i class="fas fa-file-pdf"></i> Xuất PDF</a>
                </div>
                <div class="col-sm-2">
                  <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i class="fas fa-trash-alt"></i> Xóa tất cả </a>
                </div> -->
            </div>
            <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
              <div class="row">
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0"
                    cellspacing="0" border="0" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                    <thead>
                      <tr role="row">
                        <th >
                          <input type="checkbox" id="all" onclick="checkbox()">
                        </th>
                        <th >CMND</th>
                        <th >Customer
                          name</th>
                        <th >Address</th>
                        <!-- <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"
                          aria-label="Ngày sinh: activate to sort column descending" aria-sort="ascending"
                          style="width: 74.4375px;">Date of birth</th> -->
                        <th >Sex</th>
                        <th >SĐT</th>
                        <th >Check in
                        </th>
                        <th >Feature
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd" *ngFor="let item of data">
                        <td width="10" class=""><input type="checkbox" name="check3" value="3"></td>
                        <td>{{item.idCard}}</td>
                        <td>{{item.nameCus}}</td>
                        <td>Số 3 Hòa Bình, Phường 3, Quận 11, Hồ Chí Minh </td>
                        <!-- <td class="sorting_1">02/06/1998</td> -->
                        <td>{{item.sexCus}}</td>
                        <td>{{item.phoneCus}}</td>
                        <td><span class="badge bg-warning">Haven't checked in</span></td>
                        <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                            onclick="myFunction()"><i class="fas fa-trash-alt"></i>
                          </button>
                          <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                          (click)="navigate('/edit-customer')" style="margin-left: 10%;"><i class="fas fa-edit"></i>
                          </button>
                        </td>
                      </tr>
                      <!-- <tr role="row" class="even">
                        <td width="10" class=""><input type="checkbox"></td>
                        <td>#YUI21376</td>
                        <td>Nguyễn Thị Mai</td>
                        <td>Đường Số 3, Tân Tạo A, Bình Tân, Hồ Chí Minh</td>
                        <td class="sorting_1">09/12/2000</td>
                        <td>Nữ </td>
                        <td>0836333037</td>
                        <td><span class="badge bg-success">Check in</span></td>
                        <td><button class="btn btn-primary btn-sm trash" title="Xóa" onclick="myFunction()"><i
                              class="fas fa-trash-alt"></i>
                          </button>
                          <button class="btn btn-primary btn-sm edit" title="Sửa" id="show-emp"
                          (click)="navigate('/edit-customer')"><i class="fas fa-edit"></i>
                          </button>
                        </td>
                      </tr>
                      <tr role="row" class="odd">
                        <td width="10" class=""><input type="checkbox"></td>
                        <td>#KJS276</td>
                        <td>Nguyễn Thành Nhân</td>
                        <td>Số 13, Tân Thuận Đông, Quận 7, Hồ Chí Minh </td>
                        <td class="sorting_1">10/03/1996</td>
                        <td>Nam</td>
                        <td>0971038066</td>
                        <td><span class="badge bg-success">Check In</span></td>
                        <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                            onclick="myFunction()"><i class="fas fa-trash-alt"></i>
                          </button>
                          <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                          (click)="navigate('/edit-customer')"><i class="fas fa-edit"></i>
                          </button>
                        </td>
                      </tr>
                      <tr role="row" class="odd">
                        <td width="10" class=""><input type="checkbox"></td>
                        <td>#SR28746</td>
                        <td>Trần Anh Khoa</td>
                        <td>19 Đường Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Hồ Chí Minh </td>
                        <td class="sorting_1">18/02/1995</td>
                        <td>Nam</td>
                        <td>0916706633</td>
                        <td><span class="badge bg-warning">Haven't Check In</span></td>
                        <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                            onclick="myFunction()"><i class="fas fa-trash-alt"></i>
                          </button>
                          <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                          (click)="navigate('/edit-customer')"><i class="fas fa-edit"></i>
                          </button>
                        </td>
                      </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="sampleTable_info" role="status" aria-live="polite">Hiện 1 đến 7 của 7
                    danh mục</div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="sampleTable_paginate">
                    <ul class="pagination">
                      <li class="paginate_button page-item previous disabled" id="sampleTable_previous"><a href="#"
                          aria-controls="sampleTable" data-dt-idx="0" tabindex="0" class="page-link">Back</a></li>
                      <li class="paginate_button page-item active"><a href="#" aria-controls="sampleTable"
                          data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                      <li class="paginate_button page-item next disabled" id="sampleTable_next"><a href="#"
                          aria-controls="sampleTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


</body>
