
  <body class="app sidebar-mini rtl  pace-done">
  <app-header-admin></app-header-admin>
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <app-sidebar></app-sidebar>
  <main class="app-content">
    <div class="app-title">
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>List of room vouchers</b></a></li>
      </ul>
      <div id="clock"></div>
    </div>
    <!-- <div class="col-sm-2">
      <a class="btn btn-add btn-sm" (click)="navigate('/add-staff')" title="Thêm"><i class="fas fa-plus"></i>
        Create a new staff</a>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0" id="sampleTable">
              <thead>
                <tr>
                  <th width="10"><input type="checkbox" id="all" onclick="checkbox()"></th>
                  <th>Room voucher code</th>
                  <th>Staff's name</th>
                  <th>Room code</th>
                  <th>SĐT customer</th>
                  <th> Check-in Date</th>
                  <th> Check-out Date</th>
                  <th> Customers number</th>
                  <th>Service</th>
                  <th>Total money</th>
                  <th>Status</th>
                  <th width="100">Feature</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="10"><input type="checkbox" name="check1" value="1"></td>
                  <td >MD0837</td>
                  <td>Triệu Thanh Phú</td>
                  <td>202</td>
                  <td>012893982173</td>
                  <td>15/02/2022</td>
                  <td>18/02/2022 </td>
                  <td>4</td>
                  <td>Eating, Spa</td>
                  <td>2.500.000 đ</td>
                  <td><span class="badge bg-success">Pay</span></td>
                  <td class="table-td-center">
                    <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                      onclick="myFunction()"><i class="fas fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                    (click)="navigate('/reservation-detail')" ><span class="iconify" data-icon="bx:detail" style="font-size:large;"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td width="10"><input type="checkbox" name="check2" value="2"></td>
                  <td >MĐ8265</td>
                  <td>Nguyễn Thị Ngọc Cẩm</td>
                  <td>203</td>
                  <td>001278288282</td>
                  <td>25/07/2022</td>
                  <td>30/07/2022 </td>
                  <td>2</td>
                  <td>Pool, Spa</td>
                  <td>3.800.000 đ</td>          
                  <td><span class="badge bg-success">Pay</span></td>
                  <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                      onclick="myFunction(this)"><i class="fas fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                    (click)="navigate('/reservation-detail')" ><span class="iconify" data-icon="bx:detail" style="font-size:large;"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td width="10"><input type="checkbox" name="check3" value="3"></td>
                  <td >MT9835</td>
                  <td>Đặng Hoàng Phúc</td>
                  <td>201</td>
                  <td>001278288282</td>
                  <td>01/01/2022</td>
                  <td>01/01/2022 </td>
                  <td>3 </td>
                  <td>Pool, Spa</td>
                  <td>4.650.000 đ</td>
                  <td><span class="badge bg-warning">Unpaid</span></td>
                  <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onclick="myFunction()"><i
                        class="fas fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                    (click)="navigate('/reservation-detail')" ><span class="iconify" data-icon="bx:detail" style="font-size:large;"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
    
            <div class="modal-body">
              <div class="row">
                <div class="form-group  col-md-12">
                  <span class="thong-tin-thanh-toan">
                    <h5>Chỉnh sửa thông tin nhân viên cơ bản</h5>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label">ID nhân viên</label>
                  <input class="form-control" type="text" required="" value="#CD2187" disabled="">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Họ và tên</label>
                  <input class="form-control" type="text" required="" value="Võ Trường">
                </div>
                <div class="form-group  col-md-6">
                  <label class="control-label">Số điện thoại</label>
                  <input class="form-control" type="number" required="" value="09267312388">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Địa chỉ email</label>
                  <input class="form-control" type="text" required="" value="truong.vd2000@gmail.com">
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">Ngày sinh</label>
                  <input class="form-control" type="date" value="15/03/2000">
                </div>
                <div class="form-group  col-md-6">
                  <label for="exampleSelect1" class="control-label">Chức vụ</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>Bán hàng</option>
                    <option>Tư vấn</option>
                    <option>Dịch vụ</option>
                    <option>Thu Ngân</option>
                    <option>Quản kho</option>
                    <option>Bảo trì</option>
                    <option>Kiểm hàng</option>
                    <option>Bảo vệ</option>
                    <option>Tạp vụ</option>
                  </select>
                </div>
              </div>
              <br>
              <a href="#" style="    float: right;
            font-weight: 600;
            color: #ea0000;">Chỉnh sửa nâng cao</a>
              <br>
              <br>
              <button class="btn btn-save" type="button">Lưu lại</button>
              <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
              <br>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
  </div> -->
  
    </body>
  